{
	email admin@nucizzz.shop
}

app.nucizzz.shop {
	encode zstd gzip

	@docs path /api/docs* /api/redoc* /api/openapi.json
	handle @docs {
		reverse_proxy ims_backend:8000 {
			header_up Host {host}
		}
	}

	@api path /api*
	handle @api {
		reverse_proxy ims_backend:8000 {
			header_up Host {host}
		}
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "geolocation=(), microphone=(), camera=(self)"
	}
}
